* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  flex-direction: column;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
